<div class='chat-room-form'>
  <h1>新規伝票作成</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :ゲスト選択, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.collection_select :room_name, Gest.all, :gest_name, :gest_name, include_blank: "選択してください" %>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
        <%= link_to "戻る", root_path(current_user) %>
      </div>
    </div>
  <% end %>
</div>
