<div class="check-header">
  <div class="left-header">
    <div class="header-guestname">
      <%= @room.room_name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "削除", room_path(@room), method: :delete %>
    </div>
  </div>
</div>
<div class="checkcreate">
  <%= form_with model: [@room, @check], class: 'form', local: true do |f| %>
    
    <%= f.collection_select :menuname, @menus, :menu_name, :menu_name, {include_blank: "ドリンク選択"}, {class:"menuname", id:"ab"} %>

      <INPUT type=button value="－" onClick="minus(this.form.gh)">
    <%= f.text_field :cup,  placeholder: 0, class: 'cups', id: 'gh', size: 4 %>
      <INPUT type=button value="＋" onClick="plus(this.form.gh)">

    <%= f.collection_select :menuprice, @menus, :price, :price, {include_blank: "金額選択"}, {class: 'menuprice',  id: 'cd', onchange:"myfunc()"} %>

    <%= f.text_field :menuallprice, class: 'menuallprice', placeholder: '合計金額', id: 'ef'%>

    <%=f.submit class:"drinkmenu", value: 'オーダー追加' %>

      <SCRIPT>
        function myfunc(){
          let price = document.getElementById("cd").value;
          let cup = document.getElementById("gh").value
          document.getElementById("ef").value = price * cup;
        }
      </SCRIPT>
    
      <SCRIPT>
        function plus(chk){
        chk.value++;
        if (chk.value==100) {chk.value=99}
        }
        function minus(chk){
        chk.value--;
        if (chk.value==-1) {chk.value=0}
        }
      </SCRIPT>
  <% end %>
</div>

<div class="checks">
  <%= render partial: 'check', collection: @checks %>
</div>
<div class="final-checks">
  <p>お会計</p>
  <%= form_with model: [@room, @allcheck], class: 'final-check', local: true do |f| %>
    <div class="tex">
      <%= f.text_field :allcheck, value: @allchecks %>
    </div>
    <div class="sub">
      <%=f.submit class: 'oaiso', value: 'おあいそ'%>
    </div>
  <% end %>
</div>