<div class="side-bar-header">
  <div class="header-shopname">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-check">
    <%= link_to '伝票作成', '/rooms/new' %>
  </div>
</div>

<div class="todays">
<div class="today" id="view_clock"></div>
<script type="text/javascript">
timerID = setInterval('clock()',500); //0.5秒毎にclock()を実行

function clock() {
	document.getElementById("view_clock").innerHTML = getNow();
}

function getNow() {
	var now = new Date();
	var year = now.getFullYear();
	var mon = now.getMonth()+1; //１を足すこと
	var day = now.getDate();
	var hour = now.getHours();
	var min = now.getMinutes();
	var sec = now.getSeconds();

	//出力用
	var s = year + "年" + mon + "月" + day + "日" + hour + "時" + min + "分" + sec + "秒"; 
	return s;
}
</script>
</div>

<div class="creates">
  <div class="create-menu">
    <%= link_to 'ドリンク登録', '/menus/new' %>
  </div>
  <div class="create-guest">
    <%= link_to 'ゲスト登録', '/gests/new' %>
  </div>
</div>

<div class="guests">
<% current_user.rooms.each do |room| %>
  <div class="guest">
    <div class="guest-name">
      <a href="#"><%= room.room_name %></a>
    </div>
  </div>
<% end %>
</div>